.jumbotron {
    position:relative;
    overflow:hidden;
    height: 95vh;
  }
  
  .jumbotron .container {
    position:relative;
    z-index:2;
    /* background:rgba(255, 255, 255, 0.3); */
    padding: 1rem;
    border-radius: 13px;
  }

  h1 {
      color: #007ea7;
      font-family: 'Thasadith', sans-serif;
  }

  .lead {
      color: #3D405B;
  }
  
  .jumbotron-background {
    object-fit: cover;
    position: absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
    opacity:0.2;
  }
  
  img.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  
  }